<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/css/archives.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>
        <div class="card-header">
            <!-- Strip for Day -->
            <div class="strip-container">
                <div class="strip">
                    <div class="strip-left">
                        <label for="day">Day</label>
                        <select name="day" id="day_select">
                            <% daily.forEach((i)=>{ %>
                            <option value="<%=i.date %>"><%= i.date %></option>
                          
                            <% }) %>
                        </select>
                    </div>
                    <div class="strip-right">
                        <button class="button" onclick="generatedaily()" type="button">Fetch</button>
                        <button class="button" onclick="fetchData('day')" type="button">Download</button>
                    </div>
                </div>
                <!-- Day-specific table -->
                <table id="day_table">
                  
                </table>
            </div>
    
            <!-- Strip for Week -->
            <div class="strip-container">
                <div class="strip">
                    <div class="strip-left">
                        <label for="week">Week</label>
                        <select name="week" id="week_select">
                            <% weekly.forEach((i)=>{ %>
                                <option value="<%= i.startdate %>"><%= i.startdate %></option>
                              
                                <% }) %>
                        </select>
                    </div>
                    <div class="strip-right">
                        <button class="button" onclick="generateweek()" type="button">Fetch</button>
                        <button class="button" onclick="fetchData('day')" type="button">Download</button>
                    </div>
                </div>
                <!-- Week-specific table -->
                <table id="week_table">
                   
                </table>
                <P> * in this table ,the month january is 0 , december is 11,sorry for inconvience</P>
            </div>
    
            <!-- Strip for Month -->
            <div class="strip-container">
                <div class="strip">
                    <div class="strip-left">
                        <label for="month">Month</label>
                        <select name="month" id="month_select">
                            <% monthly.forEach((i)=>{ %>
                                <option value="<%= i.month %>"><%= i.month %></option>
                              
                                <% }) %>
                        </select>
                    </div>
                    <div class="strip-right">
                        <button class="button" onclick="generatemonth()" type="button">Fetch</button>
                        <button class="button" onclick="fetchData('day')" type="button">Download</button>
                    </div>
                </div>
                <!-- Month-specific table -->
                <table id="month_table">
                    
                </table>
            </div>
    
            <!-- Strip for Year -->
            <div class="strip-container">
                <div class="strip">
                    <div class="strip-left">
                        <label for="year">Year</label>
                        <select name="year" id="year_select">
                            <% yearly.forEach((i)=>{ %>
                                <option value="<%= i.year %>"><%= i.year %></option>
                              
                                <% }) %>
                        </select>
                    </div>
                    <div class="strip-right">
                        <button class="button" onclick="generateyear()" type="button">Fetch</button>
                        <button class="button" onclick="fetchData('day')" type="button">Download</button>
                    </div>
                </div>
                <!-- Year-specific table -->
                <table id="year_table">
                    
                </table>
            </div>
    
        </div>

        <script src="js/jsForarchives/generateDaily.js"></script>
        <script src="js/jsForarchives/generateWeek.js"></script>
        <script src="js/jsForarchives/generateMonth.js"></script>
        <script src="js/jsForarchives/generateYear.js"></script>
      
</body>
</html>