<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit Lords</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
 

    
   <%- include('partials/nav.ejs') %>
    <%- include('partials/header.ejs') %>
  
    <div class="container">
        <div class="salary">
            <div class="content-wrapper">
                <p class="left-paragraph"><h2>Total Credit Balance: <%= salary %></h2></p>
                <p class="bottom-paragraph">Your Balance</p>
            </div>
        </div>
        
        <div class="target">
            <div class="content-wrapper">
                <p class="right-paragraph"><h2>Savings target: <%= saving %> </h2></p>
                <p class="bottom-paragraph">Your Target</p>
            </div>
        </div>
    </div>
    <div class="adjust">
    <div class="form">
        <form method="post" action="/home/add">
            <h1>Add A Transaction</h1>
            <label for="Amount">Amount :</label>
            <input type="number" name="amount" />
            <br>
            <label for="Purpose">Purpose :</label>
            <input type="text" name="name" id="Purpose">
            <div class="category">
                <label for="category">Select a Programming category:</label>
                <select name="category" id="category">
                    <option value="Shopping">Shopping</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Medical">Medical</option>
                    <option value="Food" selected>Food</option>
                    <option value="others">others</option>
                </select>
            </div>
    
            <div id="submit-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="form">
        <form method="post" action="/home/addcerdit">
            <h1>Credited Amount</h1>
            <label for="Amount">Amount :</label>
            <input type="number" name="amount" />
            <br>
            <label for="Purpose">Purpose :</label>
            <input type="text" name="name" id="Purpose">
            <div id="submit-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <div class="chart-container">
        <div class="chart-wrapper">
            <h2>Daily</h2>
            <canvas id="myPieChart"></canvas>
        </div>

        <div class="chart-wrapper">
            <h2>weekly</h2>
            <canvas id="myPieChart_week"></canvas>
        </div>

        <div class="chart-wrapper">
            <h2>Montly</h2>
            <canvas id="myPieChart_month"></canvas>
        </div>
        <div class="chart-wrapper">
            <h2>Yearly</h2>
            <canvas id="myPieChart_year"></canvas>
        </div>
    </div>    
    
    <div class="today-Transactions">
        <h1 id="name-today-Transactions">Today's Transactions</h1>
        <table id="table-of-today-Transactions">
            <tr>
                <th >Category</th>
                <th >Amount</th>
                <th >Purpose</th>
            </tr>
            <% item.forEach((i) => { %>
                <tr>
                    <td><%= i.category %></td>
                    <td><%= i.ammount %></td>
                    <td><%= i.name %></td>
                </tr>
            <% }) %>
        </table>
    </div>
    
    <script src="js/home_week.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/home.js"></script>
    <script src="js/month_home.js"></script>
    <script src="js/year_home.js"></script>

    <script src="js/darkmode.js" defer></script>
    <%- include('partials/foot.ejs') %>
</body>
</html>