<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notification.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>
<table>
    <thead>
        <tr>
            <th>Purpose</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% remainder.forEach((i)=> {  %>
        <tr>
            <td><%= i.Friendname %> remainds you to settle your dept in <%= i.groupname %> group </td>
            <td>
                <a class="button button-green" href="/notifications/remove1?groupname=<%= i.groupname %>&Friendname=<%=i.Friendname%>" >go</a>   
            </td>
        </tr>
        <% }) %>
        <% settle.forEach((i)=>{ %>
        <tr>

            <td>confirm for the amount you recieved form <%= i.Friendname %> for the payments in  <%= i.groupname %> group</td>
            <td>
                <a class="button button-green" href="/notifications/remove2?groupname=<%= i.groupname %>&tag=<%=i.Friend_tag%>">confirm</a>
                <a class="button button-red" href="/notifications/remove3?groupname=<%= i.groupname %>&tag=<%=i.Friend_tag%>">reject</a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<script src="../assets/js/notification.js"></script>

</body>
</html>